<html>

<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<title><%= @title || "Alex's Betting Site"%></title>
</head>

<body>

	<div class="header">
		<h1><a href="/">A+ Betting</a></h1>
	</div>

	<div class="yield">
		<%= yield %>
	</div>

	<div class="footer">
		<p> &copy Alex Achramowicz </p>
	</div>

</body>

</html>